* {
    font-family: Futura, "Noto-Sans", Arial, Helvetica, sans-serif, "Work Sans";
    box-sizing: border-box;
    padding: 0;
    margin: 0;


}

body {
    background-color: whitesmoke;
}

header {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(209, 229, 247);
    font-family: Futura;
    font-style: normal;
    font-weight: lighter;
    border-radius: 16px;
    padding-bottom: 10px;
}



.header-name {
    text-align: center;
    background-color: rgb(209, 229, 247);
    color: rgb(68, 44, 44);
    font-stretch: extra-expanded;
    font-size: 40px;
    font-weight: lighter;
    padding-top: 15px;

}

.headerHyphen {
    color: rgb(175, 112, 112);
    font-stretch: extra-expanded;
    font-size: 40px;

}

.nelsonStone {
    color: rgb(175, 112, 112);
    font-stretch: extra-expanded;
    font-size: 40px;
}

.navList {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
    background-color: rgb(209, 229, 247);
    font-family: Futura;
    font-style: normal;
    font-weight: lighter;
    display: flex;
    justify-content: space-evenly;
    font-size: 24px;
    
}


header nav ul li {
    text-decoration: none;
    display: inline;
    background-color: rgb(209, 229, 247);
    font-family: Futura;
    font-style: normal;
    font-weight: lighter;
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    display: inline;
    background-color: bisque;
    color: rgb(175, 112, 112);
    border: none;
    border-radius: 32px;
    padding-left: 24px;
    padding-right: 24px;
    font-family: Futura;
    font-style: normal;
    font-weight: lighter;
    list-style-type: none;
}

.aboutMe, .myWork, .contactMe, .myResume {
    color: rgb(68, 44, 44);
    display: inline;
    font-family: Futura;
    font-style: normal;
    font-weight: lighter;

}

.mainContent {
    margin: 3%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.aboutMeSection {
    color: rgb(68, 44, 44);
    font-size: larger;
    padding: 30px;
    display: flex;
    border-radius: 30px;
    border-color: rgb(175, 112, 112);
    
}

.aboutMeSection .aboutMeHeader {
    color: rgb(68, 44, 44);
    height: 50px;
    width: 400px;
    display: block;
    justify-content: flex-start;
    flex-direction: column;
}

.container1 {
    padding: 0;
    border: 30px rgb(68, 44, 44);
    display: block;

}

