* {
    font-family: Futura, "Noto-Sans", Arial, Helvetica, sans-serif, "Work Sans";
    box-sizing: border-box;
    padding: 0;
    margin: 0;


}

body {
    background-color: rgb(100, 136, 144);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(209, 229, 247);
    font-family: Futura;
    
    font-style: normal;
    font-weight: lighter;
}

h1 {
    
}

.header-name {
    text-align: center;
    background-color: rgb(209, 229, 247);
    color: rgb(68, 44, 44);
    font-stretch: extra-expanded;
    font-size: 40px;

}

.headerHyphen {
    color: rgb(175, 112, 112);
    font-stretch: extra-expanded;
    font-size: 40px;

}

.nelsonStone {
    color: rgb(175, 112, 112);
    font-stretch: extra-expanded;
    font-size: 40px;
}

.navList {
    text-align: center;
    width: 100%;
    background-color: rgb(209, 229, 247);
    font-family: Futura;
    font-style: normal;
    font-weight: lighter;
    
}


header nav ul li {
    text-decoration: none;
    display: inline;
    background-color: rgb(209, 229, 247);
    color: bisque;
    
    font-family: Futura;
    font-style: normal;
    font-weight: lighter;
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    display: inline;
    background-color: rgb(209, 229, 247);
    color: rgb(119, 139, 210);
    
    font-family: Futura;
    font-style: normal;
    font-weight: lighter;
    list-style-type: none;
}

.aboutMe, .myWork, .contactMe, .myResume {
    color: rgb(36, 53, 53);
    display: inline;
    font-family: Futura;
    font-style: normal;
    font-weight: lighter;

}

.container1 {
    padding: 30px;
    margin-right: 10%;
    display: inline-block;

}

.aboutMeSection {
    font-size: larger;
    padding: 30px;
    margin-inline: 50px;
    display: inline-block;
}
